
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
    
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('https://ams03pap001files.storage.live.com/y4mLUUeSVTCmCsvOgIcLzShQ5yTUcFDDvyfzecsKJYDmp8IGeEHANU6CsXOFeq-pnyr83JHTX69dop757D4vUwku3l-RWSmQ8EVzGcedWNIOonPCVud66iwWEdP_AYYgYCPIPLb-iVdb7xAOThbbUEq3WkVelShM1mrJX_18kZyKI6jo8YJm4i7di1IKX32Hx4ZT0BAcm_TUAb2WVwJOFvQLQ/skola.jpg?psid=1&width=1149&height=825');
  background-size:100%,100%;
}


/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2022, 11:53:43 AM
    Author     : zahar.shulkin
*/


